* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}

body {
    background-image: url('/assets/img/unnamed.jpg');
    background-size: cover;
}

.conteneur {
    background-color: rgba(56, 150, 249, 0.8);
    margin: auto;
    height: 650px;
    width: 40%;
    border: 2px solid rgba(2, 3, 93, 0.5);
    box-shadow: 3px 3px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#titre {
    width: 80%; 
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 70px;
}

fieldset {
    width: 40%;
    margin: auto;
    padding: 2%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    text-align: center;
}

button {
    background-color: rgba(247, 244, 173, 0.9);
    height: 50px;
    box-shadow: 1px 1px 5px black;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10%;
}

button:hover {
    background-color: rgba(247, 244, 173);
}

#chercher {
    width: 55px;
}

#retour-img {
    width: 55px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    transition-duration: 10s;
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.modal-inner {
background-color: #ffcc03;
border: 5px solid rgb(86, 86, 247);
box-shadow: 2px 1px 1px lightgrey;
padding-top: 3%;
text-align: center;
height: 400px;
width: 400px;
border-radius: 50px;
}

#imagepokemon {
    width: 150px;
    height: 150px;
    margin: auto;
}

#typespokemon {
    text-align: center;
}

#retour {
    margin-top: 10%;
}